<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eloquick.debug">

    <!-- No permissions: AudioTrack playback to the speaker needs none,
         and the engine is fully offline. -->

    <application
        android:label="EloQuick Debug"
        android:supportsRtl="true"
        android:debuggable="true">
        <activity
            android:name="com.eloquick.debug.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
